<style>
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  h1, h2, p {
    font-family: "Comfortaa";
    text-align: center;
    margin: 10px 0;
  }

  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 25px;
    color: #c5cbe4;
  }

  p {
    font-size: 15px;
    color: #939ad2;
  }

  .centered {
    margin: 0;
    text-align: center;
  }

  #fly {
    display: block;
    position: relative;
    margin: 0px auto;
    width: 50%;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    text-align: center;
    color: #fff;
    background: #ee8a65;
  }
</style>

<div class="d-flex flex-column justify-content-center align-items-center vh-100">
  <div class="MappleContainer2">
    <h3>the daily country was</h3>
    <h1><%= @country.name.upcase %>!</h1>
      <div data-controller="map" data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>" data-map-markers-value="<%= @markers.to_json %>" id="map" style='width: 800px; height: 400px;'>
    <h1>you scored <%= @user_game.score %></h1>
    <h3 class="centered">with <%= @user_game.guess_count %> guesses!</h3>
  </div>
  <div class="MappleContainer3">
  <p><%= @country.name.upcase %> is located in </p>
  <h3 class="centered"><%= @country.continent.upcase %></strong></h3>
  <p>the capital of <%= @country.name.upcase %> is </p>
  <h3 class="centered"><%= @country.capital.upcase %></h3>
</div>
  <div class="mt-3">
    <%= simple_form_for @mapple_game do |f| %>
      <%= f.submit "play again?", class: "MappleButton" %>
      <%= link_to "View High Score", high_score_path, class: "MappleButton" %>
    <% end %>
  </div>
</div>
</div>
