<style>

  h1, h2, p {
    text-align: center;
    margin: 8px 0;
  }

  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 36px;
  }

  p {
    font-size: 24px;
  }
</style>

<div class="d-flex flex-column justify-content-center align-items-center vh-100">
  <h1>Congratulations!</h1>
  <%= @user_game.guess_count %>
  <h1>You scored <%= @user_game.score %></h1>
  <h2>The daily country was <%= @country.name %></h2>

  <p><%= @country.name %> is located in <strong><%= @country.continent %></strong></p>

  <p>The capital of <%= @country.name %> is <strong><%= @country.capital %></strong></p>

  <div class="mt-3">
    <%= simple_form_for @mapple_game do |f| %>
      <%= f.submit "play again?", class: "MappleButton" %>
      <%= link_to "View High Score", high_score_path, class: "MappleButton" %>
    <% end %>
  </div>
</div>
