<div class="d-flex flex-column justify-content-center align-items-center vh-100">
  <h1>Welcome to Mapple</h1>

  <div class="btn-group mt-3">
    <% if user_signed_in? %>
      <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "btn btn-danger" %>
      <%= simple_form_for @mapple_game do |f| %>
        <%= f.submit "Start Game", class: "btn btn-primary" %>
      <% end %>
    <% else %>
      <%= link_to "Log in", new_user_session_path, class: "btn btn-primary" %>
      <%= link_to "Sign up", new_user_registration_path, class: "btn btn-success ml-2" %>
      <%= link_to "Continue as Guest", your_guest_path, class: "btn btn-secondary ml-2" %>
    <% end %>
  </div>
</div>
