<% session[:country_letters] = Array.new(@mapple_game.country.name.length, '_') unless session.key?(:country_letters) %>


<div class="d-flex flex-column justify-content-center align-items-center vh-100">

  <div>
    <h1>
      <% split = @mapple_game.country.name.split('') %>
      <% randnum = rand(0..split.length) %>
      <% split.each_with_index do |letter, i| %>
        <% if i + 2 < @counter && i == randnum %>
          <% session[:country_letters][i] = letter %>
        <% end %>
      <% end %>
      <%= session[:country_letters].join(' ') %>
    </h1>
  </div>

  <div class="mt-3">
    <h4 style="max-width: 550px; text-align: center;"><%= @question %></h4>
  </div>

  <div class="mt-3">
    <%= form_with url: mapple_game_path(@mapple_game), method: :get do |f| %>
      <%= f.text_field :query, autocomplete: 'off', collection: @country_names, placeholder: "Guess a country!", input_html: {data: {controller: "tom-select", tom_select_options_value: {tags: true}}}, class: "form-control form-rounded", autofocus: true %>
      <%= f.hidden_field :counter, value: @counter %>
      <div class="d-flex flex-column justify-content-center align-items-center mt-2">
        <%= f.submit 'Guess', class: 'MappleButton' %>
      </div>
    <% end %>
  </div>
</div>
