<% session[:country_letters] = Array.new(@mapple_game.country.name.length, '_') unless session.key?(:country_letters) %>

<div class="d-flex flex-column justify-content-center align-items-center vh-100">

  <div class="HiddenCountry">
    <div class="text-center">
      <h1>
        <% split = @mapple_game.country.name.split('') %>
        <% randnum = rand(0..split.length) %>
        <% split.each_with_index do |letter, i| %>
          <% session[:country_letters][i] = ' ' if letter == ' ' %>
          <% if i + 2 < @counter && i == randnum %>
            <% session[:country_letters][i] = letter %>
          <% end %>
        <% end %>

        <% session[:country_letters].each do |item| %>
          <% if item == ' ' %>
            <h1><%= ' ' %></h1>
          <% elsif item == '_' %>
            <span class="MappleBox"></span>
          <% else %>
            <%= item %>
          <% end %>
        <% end %>
      </h1>
    </div>
  </div>
  <div data-controller="flag">
      <% if @flag_image_url.present? %>
        <div class="MappleHint">
          <%= image_tag "Mapple_Info.png", alt: "Mapple Info", id: "mapple-info", width: "50", height: "50" %>
          <img id="hint-reveal" src="<%= @flag_image_url %>" alt="Flag Image" style="max-width: 750px; height: auto;" data-flag-target="image" class="custom-image-style">
        </div>
      <% end %>
    </div>
  <div class="MappleContainer">
    <h3><%= @question %></h5>
  </div>

  <% @not_a_country = 'is not a country' if params[:query] != '' && !@country_names.include?(params[:query].capitalize) && params[:query] %>


  <%# TODO: make this a small alert %>
  <p><%= params[:query] if @not_a_country %> <%= @not_a_country %></p>


  <div class="mt-3">
    <%= form_with url: mapple_game_path(@mapple_game), method: :get do |f| %>
      <%= f.text_field :query, id: 'country-input', autocomplete: 'off', placeholder: "place your guess", data: { insert_question_target: "input" }, class: "MappleGuess", autofocus: true %>
      <%= f.hidden_field :counter, value: @counter %>
      <div class="d-flex flex-column justify-content-center align-items-center mt-2">
        <%= f.submit 'guess', class: 'MappleGuessButton', id: 'guess-button' %>
      </div>
    <% end %>
  </div>

  <% @mapple_game.score -= @questions[@counter].difficulty if @guess && @guess != @mapple_game.country.name %>
  <% @mapple_game.save %>
  <%= @right_answer if @right_answer %>

</div>
