<div class="d-flex flex-column justify-content-center align-items-center vh-100" data-controller="" data-insert-question-my-value="<%= @questions_content.to_json %>">

  <div>
    <h1>
      <% split = @mapple_game.country.name.split('') %>
      <% split.each_with_index do |letter, i| %>
        <% if i + 4 < @counter %>
          <%= "#{letter}" %>
        <% else %>
          <%= "_" %>
        <% end %>
      <% end %>
    </h1>
  </div>

  <div class="MappleContainer">
    <h3><%= @question %></h5>
  </div>

  <div class="mt-3">
    <%= form_with url: mapple_game_path(@mapple_game), method: :get, data: { insert_question_target: "form", action: "submit->insert-question#next" } do |f| %>
      <%= f.text_field :query, autocomplete: 'off', placeholder: "guess a country!", data: { insert_question_target: "input" }, class: "MappleGuess" %>
      <%= f.hidden_field :counter, value: @counter %>
      <div class="d-flex flex-column justify-content-center align-items-center mt-2">
        <%= f.submit 'guess', class: 'MappleGuessButton' %>
      </div>
    <% end %>
  </div>

  <% @mapple_game.score -= @questions[@counter].difficulty if @guess && @guess != @mapple_game.country.name %>
  <% @mapple_game.save %>
  <%= @right_answer if @right_answer %>
</div>
