<div class="container" data-controller="" data-insert-question-my-value="<%= @questions_content.to_json %>">
  <h1><%= @country.name.upcase %></h1>

  <%= @question %>

  <%= form_with url: mapple_game_path(@mapple_game), method: :get, data: { insert_question_target: "form", action: "submit->insert-question#next" } do |f| %>
    <%= f.text_field :query, autocomplete: 'off', placeholder: "Guess a country!", data: { insert_question_target: "input" } %>
    <%= f.hidden_field :counter, value: @counter %>
    <%= f.submit 'Guess' %>
  <% end %>

  <%= @wrong_answer if @wrong_answer %>
  <%= @right_answer if @right_answer %>
</div>
