<div class="container">
  <h1><%= @country.name %></h1>

  <p><%= @questions %></p>

  <%= form_with url: mapple_game_path(@mapple_game), method: :get do |f| %>
    <%= f.text_field :query  %>
    <%= f.submit %>
  <% end %>

  <%= @wrong_answer if @wrong_answer %>
  <%= @right_answer if @right_answer %>
</div>
