<!DOCTYPE html>
<html>

<head>
    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }

        .profile-container {
            background: linear-gradient(to bottom, #c5cbe47f, #f48d8b25);
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .profile-content {
            display: flex;
            flex-direction: row;
            align-items: center;
            max-width: 1500px;
            width: 100%;
            padding: 20px;
            background-color: #c5cbe47f;
            border-radius: 50px;
             border: 1px solid #c5cbe4;
        }

        h1 {
            font-family: 'Comfortaa';
            font-size: 50px;
            color: #e45d62;
            margin-bottom: 20px;
            text-align: center;
            text-shadow: -0.5px -0.5px 0 #333, 0.5px -0.5px 0 #333, -0.5px 0.5px 0 #333, 0.5px 0.5px 0 #333;
        }

        h5 {
          text-align: center;
        }

        p {
            font-size: 15px;
            font-family: 'Comfortaa';
            text-align: center;
            color: #8d91a3;
        }

        .user-info, .game-stats {
            flex: 1;
            height: 400px;
            width: 650px;
            padding: 20px;
            background-color: rgba(250,250,250,0.50);
            border-radius: 25px;
            margin: 5px;
             border: 1px solid #5383b1;
        }

        .game-stats {
            flex: 1;
        }

        .game-history {
            list-style: none;
            padding: 0;
            max-height: 235px;
            overflow-y: auto;
        }

        .game-history li {
          margin-bottom: 10px;
          border-bottom: 2px solid #6c757d4f;
        }

.MappleScroll {
    float: right;
    margin-right: 25px; /* Adjust the margin as needed */
    cursor: pointer;
}

    </style>
</head>

<body>
    <div class="profile-container">
        <div class="profile-content">
            <div class="user-info">
                <h1>statistics</h1>
                <h5>email:</h5>
                <p> <%= @user.email %></p>
                <h5>total games played:</h5>
                <p><%= @total_games_played %></p>
                <h5>average score:</h5>
                <p><%= @average_score %></p>
                <h5>total score:</h5>
                <p><%= @total_score %></p>
            </div>
            <div class="game-stats">
                <h1>last 10 games</h1>
                <ul class="game-history">
                    <% @user.mapple_games.order(created_at: :desc).limit(10).each do |game| %>
                    <li class="text-center">
                      <div class="d-flex justify-content-center"><!-- Center the entire content -->
                        <div class="pr-3">
                          <h5>score:</h5><p><%= game.score %></p>
                        </div>
                        <div>
                          <h5>date:</h5><p><%= game.created_at.strftime("%d/%m/%Y") %></p>
                        </div>
                      </div>
                      <div class="d-flex justify-content-center"><!-- Center the entire content -->
                        <div class="pr-3">
                          <h5>guessed country:</h5><p><%= game.country.name %></p>
                        </div>
                        <div>
                          <h5>total guesses:</h5><p><%= game.guess_count %></p>
                        </div>
                      </div>
                    </li>
                    <% end %>
                </ul>
                <div class="MappleScroll" id="scrollDownArrow">
                    <%= image_tag asset_url('Mapple_Arrow.png'), alt: 'Scroll Down', width: 20, height: 20 %>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
