<div class="MappleLogin">
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name),
    data: { turbo:false }) do |f| %>
    <div class="form-input">
      <%= f.input :email,
                  required: false,
                  autofocus: true,
                  input_html: { autocomplete: "email", placeholder: "e-mail" },
                  label: false %>
    </div>
    <div class="form-input">
      <%= f.input :password,
                  required: false,
                  input_html: { autocomplete: "current-password", placeholder: "password" },
                  label: false %>
    </div>
    <div class="MappleCheckk">
      <input type="checkbox" id="user_remember_me" class="MappleCheck" />
      <label for="user_remember_me" class="MappleCheckLabel">remember?</label>
    </div>

    <div class="MappleLoginButton">
      <%= f.button :submit, "log in", class: "MappleLoginButton" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
